body{
  min-height: 100vh;
  display: flexbox;
  margin: auto;
}

header{
  padding: 3vh;
  justify-content: space-between;
}

#skills{
  display: flex;
  justify-content: space-evenly;
}

a {
  color: black;
}